body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}
.bodymain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

}
.mainheader{
  background: #00004d;
  padding:2%;
  text-align: center;
  color: #f2f2f2;
}

.mainheader a{
  color: #f2f2f2;
}


#mainlogo{

  height: 5%;
  width: 5%;
  

}
.authors{
  float: left;
  display: block;
  height: 40%;
  width:40%;
  margin-right: 5%;
  color:white;
  background: blue;
  margin-top: -30%;
}
.addauthor{
  margin-top: 1%;
  margin-left: 7%;
}

.addauthor a{
  padding: 0.5%;
  text-align: center;
background: #00584D;
  border: none;
  color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 2%;
   width:15%;

}

.books{
  float:right;
display: block;
  height: 40%;
  width:40%;
  color:white;
  background: red;
  margin-top: -30%;
}

.singlebooks{
  border: 2px solid black;
  margin: 1%;
  text-align: center;
  background: #00004d;
  color: #f2f2f2;
}

.singlebooks h3{

  color: white;

}

.singlebooks button{
  background: #00584D;
  border: none;
  color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 2%;
}
.singlebooks a{
padding: 4px;
  background: #00584D;
  border: none;
  color: #f2f2f2;
  border-radius: 5px;
}

.singlebooks img{
  
  height:20%;
  width: 20%;
}

.edit {
  margin-left: 5%;
  margin-top: 3%;
  font-weight: bold;

}


.edit button{
background: #00584D;
  border: none;
  color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 2%;

}

.edit a{
  padding: 4px;
  background: #00584D;
  border: none;
  color: #f2f2f2;
  border-radius: 5px;

}


















