{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="addauthor"> 
<a href="/books/new">Add Books</a>  
</div>


   

 {% for book in books %}

   

<div class="container">
  <div class="singlebooks">
    <h3>{{ book.title }}</h3>
    <p>{{ book.description }}</p>
    <p>{{ book.year }}</p>
    <p><img src="{{ book.picture }}"></p>
    <p>{{ book.genre }}</p>
   <form  role="form" method="post" action="/books/{{book.id}}/remove"><button type="delete">Remove Book</button></form>
    

    <a href="books/{{book.id}}/edit"<button type="delete">Edit Book</button>

  </div>
</div>



 {% endfor %}



{% endblock %}